@CHARSET "UTF-8";

* {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	/* font-weight: 300; */
}

h1 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
}

.data-table {
	margin-top: 10pt;
}

.ui-panelgrid td {
	border: none !important;
}

.ui-panelgrid .ui-widget-content {
	border: none !important;
}

.panelGridCenter {
	margin: 0 auto;
}

table#login_form {
	margin: 0 auto;
	border: 1px solid black;
	padding: 10px;
	font-size: 14px;
}

table#login_form td {
	font-size: 14px;
}

table#login_form tr:FIRST-CHILD td {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid black;
}

table#login_form tr:LAST-CHILD td {
	text-align: center;
	font-weight: bold;
}

#main_wrapper {
	background-color: #dfe4e6;
	background-color: #f1f1f1;
}

#main_wrapper div.ui-layout-unit-content {
	background-color: #f1f1f1;
	padding: 8px;
}