<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0" metadata-complete="true">


	<display-name>abc-english-school</display-name>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<!-- JSF -->
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<!-- end JSF -->

	<!-- secure -->
	<!--  --> 
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/auth/login.xhtml</form-login-page>
			<form-error-page>/auth/error.xhtml</form-error-page>
		</form-login-config>
	</login-config>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>teacher-secured</web-resource-name>
			<url-pattern>/teacher/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>TEACHER</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin-secured</web-resource-name>
			<url-pattern>/administrator/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMINISTRATOR</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>index</web-resource-name>
			<url-pattern>/index.xhtml</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMINISTRATOR</role-name>
			<role-name>TEACHER</role-name>
			<role-name>STUDENT</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>TEACHER</role-name>
	</security-role>
	<security-role>
		<role-name>STUDENT</role-name>
	</security-role>
	<security-role>
		<role-name>ADMINISTRATOR</role-name>
	</security-role>
	 
	<!-- end secure -->

	<!-- spring context -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	<!-- end spring context -->
</web-app>